.container {
    background-color: #282c34;
    min-height: 100vh;
    font-size: larger;
    color: whitesmoke;
}
.child {
    padding-left: 15px;
    padding-right: 15px;
}
button {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    background-color: #3b7ca6;
    border-radius: 15px;
}
button:hover {
    background-color: #61dafb;
}